.advantages__icons {
  background-color: var(--secondary-bg-color);
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;


  @media screen and (min-width: 1200px) {
    height: 120px;
    margin-bottom: 30px;
  }
}


.advantages__flex {
  @media screen and (min-width: 768px) {
  display: flex;

  }
  @media only screen and (max-width: 1199px) and (min-width: 768px) {
  flex-wrap: wrap;
  }

}

.advantages__width {

  flex-basis: calc(100% / 2 - 15px);

  @media screen and (max-width: 767px) {

  &:not(:first-child) {
    margin-top: 30px;
  }
  } 

  @media only screen and (max-width: 1199px) and (min-width: 768px) {

    &:nth-child(odd){
      margin-right: 30px;
    }
    
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
    
  } 

  @media screen and (min-width: 1200px) {
  width: 270px;
  
  &:not(:last-child) {
  margin-right: 30px;
}
}
}




.advantages__icons-size {
  width: 70px;
  height: 70px;
}


.advantages__title {

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  
  color: var(--primary-text-color);
  
  @media screen and (min-width: 1200px) {
  margin-bottom: 10px;
  line-height: 1.14;
  }

}





.advantages__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;

  @media screen and (min-width: 1200px) {

  }

}


