.button {
  font-family: inherit;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button__hero {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1),
  background-color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
  }
}
